@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.badge-bug {
  background-color: #729f3f;
  color: #fff;
}
.badge-dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  color: #fff;
}
.badge-fairy {
  background-color: #fdb9e9;
  color: #212121;
}
.badge-fire {
  background-color: #fd7d24;
  color: #fff;
}
.badge-ghost {
  background-color: #7b62a3;
  color: #fff;
}
.badge-ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #212121;
}
.badge-normal {
  background: #a4acaf;
  color: #212121;
}
.badge-psychic {
  background: #f366b9;
  color: #fff;
}
.badge-steel {
  background: #9eb7b8;
  color: #212121;
}
.badge-dark {
  background: #707070;
  color: #fff;
}
.badge-electric {
  background: #eed535;
  color: #212121;
}
.badge-fighting {
  background: #d56723;
  color: #fff;
}
.badge-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
}
.badge-grass {
  background-color: #9bcc50;
  color: #212121;
}
.badge-ice {
  background-color: #51c4e7;
  color: #212121;
}
.badge-poison {
  background-color: #b97fc9;
  color: #fff;
}
.badge-rock {
  background-color: #a38c21;
  color: #fff;
}
.badge-water {
  background-color: #4592c4;
  color: #fff;
}
